<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <!-- automatic refresh -->
    <!-- <meta http-equiv="refresh" content="10"> -->
    
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <!-- confirm page -->
    <div class="header">
        <h1>Je hebt <%- club %> geselecteerd</h1>
    </div>

    <div class="score">
        <h1><%-thuisteam %> <%- thuisgoals %> - <%-uitteam %> <%- uitgoals %></h1>
    </div>

    <noscript>
        <p> Helaas heb je javascript uitstaan, daarom kunt u geen meldingen ontvangen.</p>
    </noscript>

    <div class="notifications">
        <h2>Wilt u meldingen ontvangen wanneer <%-club%> heeft gescoord?</h2>

        <button class="button" onclick='main()'>Ja, graag!</button>
    </div>

    <div class="notifications">
        <h2>Zo niet, wilt u een e-mail ontvangen als er wordt gescoord?</h2>

        <form action="">
            E-mailadres
            <input type="text" name="firstname" placeholder="example@email.com">
        </form> 

        <button class="button" onclick='main()'>Ja, graag!</button>
    </div>

    <div class="notifications">
        <h2>U kunt de pagina automatisch verversen om elke 10 seconden te zien of er gescoord is</h2>

        <button class="button" onclick='main()'>Graag!</button>
    </div>

    <script src="client.js"></script>

</body>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>